<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Bv-Vyas" target="blank"> <i class="fa-brands fa-square-github"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/bhawesh-vyas-b23786256/" target="blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-companyName">
            &copy; Vyas Pvt. Ltd
        </div>
        <div class="f-info-Pages">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
        <div>
            <p>Developed By Bhawesh Vyas 	&#9829;</p>
        </div>
    </div>
</footer>