body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar{
    background-color: white !important;
}
@media (min-width: 768px) {
    .navbar {
      height: 5rem;
    }
  }

/* @media(max-width: 760px){
    .mobile-nav{
        display: block;
    }
} */

.log-btn-div{
    display: flex;
    align-items: center;
}

/* user-img-div in Navbar*/
.user-img-div{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user-img-div img{
    height: 40px;
    width: 40px;
}

/* Home icon */
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    font-weight: bold !important;
    /* font-size: 1.2rem !important; */
}

.nav-link:hover{
    color: #fe424d !important;
}


/* footer */
.f-info{
    background-color: rgba(197, 197, 197, 0.327);
    height: auto;
    padding: 10px;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    padding: 5px;
    font-size: 1.5rem;
    color: #222222;
}

.f-info-socials i:hover{
    cursor: pointer;
    color: rgb(103, 104, 104);
}

.f-info-Pages a{
    text-decoration: none;
    padding: 4px;
    color: #222222;
}

.f-info-Pages a:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* Cards */
.card-listings{
    border: none !important;
    margin-bottom: 2rem;
    
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
}

.card-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
    text-align: center;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

/* Create New Page */
.addBtn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Show Page */
.show-btns{
    display: flex;
}
.edit-btn{
    margin-right: 1rem;
}

